.masthead {
    text-align: center;
    color: white;
    position: relative;
    padding-top: 15px;
    padding-bottom: 6px;
    background-image: url('../img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 64px;
        width: 100%;
        height: 1px;
        background-color: #695c77;
    }
    .logo {
        float: left;
    }
    // .intro-text {
    //     padding-top: 42px;
    //     padding-bottom: 50px;
    //     .intro-lead-in {
    //         font-size: 22px;
    //         font-style: italic;
    //         line-height: 22px;
    //         margin-bottom: 25px;
    //         @include serif-font;
    //     }
    //     .intro-heading {
    //         font-size: 50px;
    //         font-weight: 700;
    //         line-height: 50px;
    //         margin-bottom: 25px;
    //         @include heading-font;
    //     }
    // }

    .story {
        padding: 22px 30px 45px 29px;
        background-color: rgba(30, 15, 44, .7);
        border-radius: 10px;
        p {
            font-size: 1.12em;
            text-align: left;
            font-weight: 300;
            line-height: 1.5;
        }
        strong {
            font-weight: 500;
        }
        .name {
            display: block;
            padding-top: 10px;
        }
    }

    .man {
        position: relative;
        top: 60px;
        left: -370px;
        z-index: 10;
    }
}

@media(max-width: 480px){
    .masthead {
        background-position: top;
        background-size: auto 704px; 
        h1 {
            font-size: 40px;
        }
        .man {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: -103px;
        }
    }
}

@media(min-width:481px) and (max-width: 991px){
    .masthead {
        .man {
            position: relative;
            top: 0;
            left: 0;
            margin: auto;
            width: 80%;
            margin-top: 40px;
        }
    }
}

@media(min-width:768px) {
    .masthead {
        .intro-text {
            .intro-lead-in {
                font-size: 40px;
                font-style: italic;
                line-height: 40px;
                margin-bottom: 25px;
                @include serif-font;
            }
            .intro-heading {
                font-size: 75px;
                font-weight: 700;
                line-height: 75px;
                margin-bottom: 50px;
                @include heading-font;
            }
        }
    }
}
