// Styling for the services section
#services {
  position: relative;
  padding-top: 73px;
  padding-bottom: 30px;
	background-image: url(../img/bg-bottom.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
    .custom-container {
      padding: 45px 35px;
    }

    .row-bottom {
      background: #fafafa;
      border-top: 1px solid #ececec;
      padding: 23px 0 25px 0;
    }
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
